.menu-wrapper ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu-wrapper ul li {
    margin-right: 10px;
}

.light-item {
    background-color: #F8E794;
}
.dark-item a {
    background-color: darkmagenta;
    color: white;
}