.counter-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.counter-stat {
    font-size: 35px;
    font-weight: bold;
}
.btn-click {
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}